.top{
	z-index: 10;
	position: absolute;
}

.rest{
	z-index: 1;
	position: absolute;
}

#sliderContainer{
	height:300px;
	width:900px
}

#slideShow{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	float:left
}

#background{
	height:300px;
	width:900px;
	background-image:url("/home/fedor/picoUPS-100-big2.jpg");
	background-repeat: no-repeat
}

.slides{
	position: absolute
}
